html{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.container h1{
	font-size: 35px;
	font-weight: 500;
	font-family: Helvetica;
	margin: 0;

}

.container{
	position: relative;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	transition: 1s;
}

#i_adj{
	display: inline-block;
	color: red;
}

#i_adj:hover{
	cursor: pointer;
}